/* ----------------------------Instrument-------------------------------- */

:root {
  --color1: #404bbf;
  --color2: #434455;
  --color3: #f4f4fd;
  --color4: #ffffff;
  --color5: #2e2f42;
  --color6: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}

.is-hidden {
  margin: 0;
  padding: 0;
  height: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.visiabity-hidden {
  margin: 0;
  padding: 0;
  height: 0;
}

/* ----------------------------RESET-------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ----------------------------HEADER-------------------------------- */

.header {
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  flex-shrink: 0;
}

.nav-list {
  display: flex;
  gap: 40px;
  flex-shrink: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.item-logo {
  color: var(--color5);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo:link {
  text-decoration: none;
}

.navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}

.navigation:hover {
  color: #404bbf;
}

.navigation:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
}

.addresses {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 40px;
  padding-left: 332px;
}

.address {
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}

.address:hover {
  color: #404bbf;
}

.address:focus {
  color: #404bbf;
}

/* ----------------------------HERO-------------------------------- */

.hero {
  background-color: var(--color5);
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
}

.hero-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
}

.button {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: #4d5ae5;
  line-height: 1.5;
  cursor: pointer;
  min-width: 169px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  display: block;
  margin: 0 auto;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background: #404bbf;
}

.button:focus {
  background: #404bbf;
}

/* ----------------------------Functions-------------------------------- */

.functions-list {
  display: flex;
  gap: 24px;
}

.section-functions {
  padding: 120px 0;
}

.functions-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color5);
  margin-bottom: 8px;
}

.functions-paragraph {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
}

/* -------------------------SERVICES-------------------------------- */

.services-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color5);
  margin-bottom: 72px;
}

.section-services {
  padding-bottom: 120px;
}

.services-list {
  display: flex;
  gap: 24px;
}

.section-services-li {
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
/* -------------------------TEAM-------------------------------- */

.team-list {
  display: flex;
  gap: 24px;
}

.section-team-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color5);
  margin-bottom: 72px;
}

.section-names {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color5);
  text-align: center;
  margin-bottom: 8px;
}

.section-profecions {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  text-align: center;
}

.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.section-team-li {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-names-profecions {
  padding: 32px 16px;
}

/* ----------------------------Footer-------------------------------- */

.footer-p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
  width: 264px;
}

.footer-item-logo {
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}

/* ----------------------------Portfolio-MAIN-------------------------------- */

.portfolio-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color5);
  margin-bottom: 8px;
}

.portfolio-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color2);
}

.main-link {
  text-decoration: none;
  max-width: 360px;
}

/* ------------------------PORTFOLIO-FILTER--------------------------- */

.portfolio-button {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--color6);
  background: var(--color3);
  line-height: 1.5;
  cursor: pointer;
  min-width: 78px;
  padding: 12px 24px 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.portfolio-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* ------------------------PROJECTS--------------------------- */

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
  row-gap: 48px;
}

.projects {
  max-width: 360px;
}

.projects-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
